.footer {
  flex: 0 0 auto;
  min-height: 60px;
  background-color: $slightly-green;
  padding-top: 6px;
}

.footer__social-list {
  @include reset-list;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}
