.project {

  h2 {
    @include font($montserrat, 32px, 36px, 700, normal);
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }
}

.project__flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.project__box {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  .project__hidden-box {
    @include flex-center;
    flex-flow: column wrap;
    position: absolute;
    background-color: rgba($main-black, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    border-radius: 60px;
    padding: 0 40px;

    h3,
    p {
      @include font($montserrat, 16px, 20px, 400, normal);
      color: $main-white;
      text-align: center;
      margin: 0;
      padding-bottom: 15px;
    }

    p {
      @include resize-txt(10px, 14px)
    }

    a {
      @include font($montserrat, 14px, 18px, 400, normal);
      @include flex-center;
      width: 220px;
      min-height: 55px;
      border: 2px solid $slightly-green;
      border-radius: 30px;
      color: $main-white;

      &:hover,
      &:focus-within {
        transition: $trans--300;
        background-color: $slightly-green;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  &:hover,
  &:focus-within,
  &:active {

    .project__hidden-box {
      transition: $trans--300;
      z-index: 2;
      opacity: 1;
    }
  }
}

.project__img {

  img {
    border-radius: 60px;
  }
}
