// Color

$main-black: #000000;
$main-white: #ffffff;
$slightly-green: #a1b983;
$dark-cyan: #94aead;

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$montserrat: "Montserrat", "Arial", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
